:root {
  --color-primary: #3AAFA9;
  --color-primary-light: #72e1db;
  --color-primary-dark: #007f7a;
  --color-background-black: #191919;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* good practice to inherit from body in case want to 
    change sizing with plugons or other components later */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* We want 10px as root font size.. it's 16px by default
    Change to 62.5% to get 10px  */
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: var(--color-primary-dark);
  color: white;
}

::selection {
  background-color: var(--color-primary-dark);
  color: white;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.section-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 2rem;
  -webkit-animation: fade-up .75s .2s backwards;
          animation: fade-up .75s .2s backwards;
}

.section-container--navbar {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.text-primary {
  color: var(--color-primary);
}

.header-primary {
  font-size: 6rem;
}

@media (max-width: 37.5em) {
  .header-primary {
    font-size: 3rem;
    max-width: 50%;
  }
}

.header-primary--main {
  font-size: 8rem;
}

@media (max-width: 56.25em) {
  .header-primary--main {
    font-size: 6rem;
  }
}

.header-secondary {
  font-size: 4rem;
}

.header-3 {
  font-size: 3rem;
}

@media (max-width: 37.5em) {
  .header-3 {
    font-size: 2.4rem;
  }
}

.align-text-center {
  text-align: center;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-navbar-sticky {
  margin-top: .75rem !important;
  margin-bottom: .5rem !important;
}

.sweep-effect {
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
  background-size: 240%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sweep-effect:hover, .sweep-effect:active {
  background-position: 100%;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.navbar-sticky {
  padding-right: 2rem;
  width: 100%;
  z-index: 1000;
  background: white;
  font-size: 1.2rem;
}

.navbar-sticky--anchor {
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

@media (max-width: 56.25em) {
  .navbar-sticky--anchor {
    padding: .25rem .5rem;
  }
}

@media (max-width: 37.5em) {
  .navbar-sticky--anchor {
    padding: .25rem .5rem;
    font-size: 1rem;
  }
}

.nav {
  -webkit-transition: all .2s;
  transition: all .2s;
  height: auto;
  width: 100%;
  max-width: 120rem;
  font-size: 2rem;
  margin: 2rem auto 2rem auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 37.5em) {
  .nav {
    font-size: 1.2rem;
  }
}

.nav__link--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav__link--list-item {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem 2rem;
}

@media (max-width: 37.5em) {
  .nav__link--list-item {
    padding: .5rem 1rem;
  }
}

.nav__link--anchor {
  text-decoration: none;
  margin: 0 .25rem;
  color: black;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 5rem 0;
  min-height: 95vh;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 56.25em) {
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
    height: 100%;
  }
}

.about-me__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 56.25em) {
  .about-me__info {
    width: 70%;
    margin-bottom: 5rem;
  }
}

.about-me__info--title {
  display: inline-block;
  margin-bottom: 2rem;
  position: relative;
}

.about-me__info--subtitle {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
}

@media (max-width: 56.25em) {
  .about-me__info--subtitle {
    font-size: 2.5rem;
  }
}

.about-me__info--para {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.6;
}

.about-me__info--list {
  margin-top: 2rem;
  list-style: none;
}

@media (max-width: 56.25em) {
  .about-me__info--list {
    text-align: center;
  }
}

.about-me__info--list-item {
  position: relative;
  display: inline-block;
  padding: 0 3.2rem 0 0;
}

.about-me__info--list-item:hover .about-me__info--list-name {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.about-me__info--list-item:hover .about-me__info--list-icon {
  color: var(--color-primary);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-me__info--list-icon {
  font-size: 3rem;
  color: var(--color-grey-dark-1);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.about-me__info--list-name {
  position: absolute;
  font-size: 1.6rem;
  top: 5rem;
  right: 2rem;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.about-me__info--list--span {
  display: inline-block;
  position: relative;
}

.about-me__img {
  width: 100%;
}

@media (max-width: 56.25em) {
  .about-me__img {
    width: 50%;
  }
}

.about-me__img--container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  background-color: var(--color-grey-light-1);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

.skills--title {
  position: relative;
}

.skills__container {
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 5rem;
}

.skills__item {
  color: var(--color-primary);
  padding: 1rem .6rem;
  margin-top: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}

@media (max-width: 56.25em) {
  .skills__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 37.5em) {
  .skills__item {
    font-size: 1.6rem;
  }
}

.skills__item:hover .skills__item-name {
  color: white;
}

.skills__item-icon {
  font-size: 3.6rem;
  margin-right: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 37.5em) {
  .skills__item-icon {
    font-size: 2rem;
  }
}

.skills__item-name {
  color: black;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 500;
}

.skills__item__bottom-border {
  display: inline-block;
  position: absolute;
  left: 1;
  bottom: 0;
  background-color: var(--color-primary);
  height: .25rem;
  width: 80%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.skills__item:hover .skills__item__bottom-border {
  width: 100%;
  background-color: var(--color-primary-dark);
}

.underline-effect:hover:after {
  width: 100%;
  left: 0;
}

.underline-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--color-primary);
  width: 0;
  bottom: -3px;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.underline-effect--white:after {
  background-color: #fff;
}

.education {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px dashed var(--color-grey-light-4);
}

.education--text {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

@media (max-width: 37.5em) {
  .education--text {
    font-size: 1.6rem;
  }
}

.education__flex-column {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90rem;
}

.education__container--top {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.education__container--bottom {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education__coursework--list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.education__coursework--list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.education__coursework--list-item:hover .education__coursework--list-icon {
  padding-right: .1rem;
  font-weight: 700;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (max-width: 56.25em) {
  .education__coursework--list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 37.5em) {
  .education__coursework--list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
}

.education__coursework--list-icon {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: var(--color-primary);
  padding-right: .5rem;
  font-size: 2.4rem;
}

.education--title {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.education__header {
  padding: .25rem .5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
  margin: 1rem 0;
}

.contact {
  background-color: var(--color-grey-light-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
}

@media (max-width: 37.5em) {
  .contact {
    min-height: 50vh;
  }
}

.contact__form-wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group {
  width: 100%;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.6rem;
  padding: .8rem 1.2rem;
  border-radius: 2px;
  border: 2px solid var(--color-grey-dark-2);
  width: 100%;
  display: block;
}

.form__input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.form__input:focus:invalid {
  border: 2px solid var(--color-primary-dark);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-grey-dark-2);
}

.form__btn {
  margin: 0 .25rem;
  color: white;
  background-color: var(--color-primary);
  padding: 1rem 5rem;
  display: inline-block;
  font-size: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.form__btn:hover {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: var(--color-primary-dark);
}

.footer {
  background-color: #333;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (max-width: 37.5em) {
  .footer {
    min-height: 30vh;
  }
}

.footer__up-arrow {
  margin-bottom: 7.5rem;
  display: inline-block;
}

.footer__up-arrow:hover .footer__icon--up {
  color: var(--color-primary-light);
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
}

.footer__item {
  margin: 0 1rem;
}

.footer__item:hover .footer__icon {
  color: var(--color-primary-light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__icon {
  font-size: 3rem;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.footer__social--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social--item {
  margin: 0 1rem;
}

.footer__social--item:hover .footer__social--icon {
  color: var(--color-primary-light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social--link {
  text-decoration: none;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */