// MEDIA QUERY MANAGER

// 0 - 600px phone
// 600 - 900 tablet portrait
// 900 - 1200 tablet landscape
// {1200 - 1800} "normal" styles
// 1800 + big desktop

// rems seem to fail in media queries; ems are better
// not effected by what we did above
// 1 em = 16px


// ORDER:
// Base/typography => general layout => page layout => components

@mixin respond($breakpoint){    // 600px
    @if $breakpoint == phone{
        @media (max-width: 37.5em){@content}    
    };
    @if $breakpoint == tab-port{    // 900px
        @media (max-width: 56.25em){@content}
    };
    @if $breakpoint == tab-land{    // 1200px
        @media (max-width: 75em){@content}    
    };
    @if $breakpoint == big-desktop{ // 1800px
        @media (min-width: 112.5em){@content}
    }
}

:root{
    --color-primary: #3AAFA9;
    --color-primary-light: #72e1db;
    --color-primary-dark: #007f7a;

    --color-background-black: #191919;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    // used for borders/border bottoms generally
    
    // it's okay to use var inside another var
    --line: 1px solid var(--color-grey-light-2);
}
*,
*::before,
*::after
/* Include after and before just incase to avoid strange 
behavior with animations or whatever */
{

    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* good practice to inherit from body in case want to 
    change sizing with plugons or other components later */
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* We want 10px as root font size.. it's 16px by default
    Change to 62.5% to get 10px  */
    // TLDR: THIS DEFINES WHAT 1 REM IS! 


    @include respond(tab-land){ // Asks: width < 1200?
        font-size: 56.25%;  //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port){ // asks: width < 900?
        font-size: 50%; // //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}

::selection{
    background-color: var(--color-primary-dark);
    color: white;
}

body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


///// UTILITY

.section-container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 2rem;

    animation: fade-up .75s .2s backwards;
    // animation name, length of animation, animation delay..
    // and backwards ensures that on load the content doesn't show before delay is over!

    &--navbar{ // navar has it's own padding
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: all .2s; // so when it resizes there's no stuttering

    }
}


.flex-row{
    display: flex;
    justify-content: center;
    position: relative;
}

.text-primary{
    color: var(--color-primary);
}

.header-primary{
    font-size: 5rem;
    color: #2d2d2d;
    font-weight: 400;
    @include respond(phone){
        font-size: 3rem;
        max-width: 50%;
    }
    // These work with the underline effect
    display: inline-block;
    position: relative;

    // main == the hello text in the hero/header
    &--main{
        font-size: 8rem;
        @include respond(tab-port){
            font-size: 6rem;
    
        }
    }
}

.header-secondary{
    font-size: 4rem;
}

.header-3{
    font-size: 3rem;
    @include respond(phone){
        font-size: 2.4rem;
        
    }
}

.align-text-center{
    text-align: center;
}

.margin-bottom-2rem{
    margin-bottom: 2rem;
}

.margin-navbar-sticky{
    margin-top: .75rem !important;
    margin-bottom: .5rem !important;
}


.sweep-effect{
    display: inline-block; // necessary for effect! 
    background-image: linear-gradient(120deg,  transparent 0%, transparent 50%, var(--color-primary) 50%);
    background-size: 240%;  // so it's completely covered
    transition: all .5s;
    // &:hover,
    // &:active{
    //     // this shifts that background 100% over, covering it in the white
    //     // (hidden before hover) portion of the gradient  
    //     background-position: 100%;

    //     color: white;
    //     transform: scale(1.05);
        
    // }
    
    // &:hover{
    //     // this shifts that background 100% over, covering it in the white
    //     // (hidden before hover) portion of the gradient  
    //     background-position: 100%;

    //     color: white;
    //     transform: scale(1.05);
        
    // }
}





.navbar-sticky{
    padding-right: 2rem;
    width: 100%;
    z-index: 1000;
    background: white;
    font-size: 1.2rem;
    
    &--anchor{
        padding: .5rem 1rem;
        font-size: 1.2rem;
        
        @include respond(tab-port){
            padding: .25rem .5rem;
          }

        // half the padding used in the large desktop version..
        @include respond(phone){
            padding: .25rem .5rem;
            font-size: 1rem;
          }
        
    }
}

//// END UTILITY

//// NAVBAR
.nav {    
    // so when it resizes there's no stuttering - same as on section-container--navbar
    transition: all .2s; 
    height: auto;
    width: 100%;
    max-width: 120rem;
    font-size: 2rem;

    margin: 2rem auto 2rem auto;
    padding: 0 3rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    // center the navbar contents if viewport shrinks
    @include respond(tab-port){
        justify-content: center;
    }


    @include respond(phone){
        font-size: 1.2rem;
    }


    &__link {
  
      &--list { // ul containing the li's
        display: flex;
        align-items: center;
        list-style-type: none;
  
        &-item { // this is the li
        position: relative; // ?
          text-decoration: none;
          font-weight: 600;
          padding: 1rem 2rem;
          
          @include respond(phone){
            padding: .5rem 1rem;
          }
        }
      }
  
      &--anchor { // this is the a href
          text-decoration: none;
          margin: 0 .25rem;
          color: black;
          padding: 1rem 2rem;
          display: inline-block; // necessary for effect!           
          color: black;
          text-transform: uppercase;
          transition: all .5s; // THIS controls how fast the sweep effect on this element is**


      }
    }
  }
//// END NAV

//// HERO

// .hero{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     width: 100%;
//     padding: 5rem 0;
//     min-height: 95vh;

// }

.about-me{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    margin-bottom: 4rem;

    @include respond(tab-port){
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2rem;
        height: 100%;

    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        @include respond(tab-port){
            width: 70%;
            margin-bottom: 5rem;
    
        }

        &--title{
            display: inline-block;
            margin-bottom: 2rem;
            position: relative; // for underline effect **
        }

        &--subtitle{
            display: block;
            font-size: 3rem;
            margin-bottom: 2rem;
            position: relative; // for underline effect** 
            width: fit-content;

            @include respond(tab-port){
                font-size: 2.5rem;
        
            }
        }
    
        &--para{
            display: inline-block;
            font-size: 2rem;
            line-height: 1.6;
        }

        &--list{
            margin-top: 2rem;
            list-style: none;

            @include respond(tab-port){
                // center the icons
                text-align: center;
                margin-top: 6rem;
            }
            
            &-item{ // icons for github, linkedin, etc
                position: relative; // so icon title effect works
                display: inline-block;
                padding: 0 3.2rem 0 0;

                // * name of hovered list icon / doesn't look great?
                // &:hover .about-me__info--list-name{
                // transform: scale(1);
                // opacity: 1;
                // }

                &:hover .about-me__info--list-icon{
                    color: var(--color-primary);
                    transform: scale(1.2);

                }
            }

            &-icon{
                font-size: 3rem;
                color: var(--color-grey-dark-1);
                transition: all .25s;  
            }

            &-name{ // label for github, linkedin, etc
                // absolute positioning; it won't have an effect on parents size or position
                position: absolute;
                font-size: 1.6rem;
                top: 5rem;
                right: 2rem;                
                // For zoom in name effect
                // start from size 0 opacity 0..
                // go to full size and opaque
                opacity: 0;
                transform: scale(0);
                transition: all .25s;

            }

            &--span{
                display: inline-block;
                position: relative;
            }
        }
    }

    &__img{ // large svg icon
        // width 100% prevents image from overflowing out of the parent --container 
        width: 70%;

        &--container{
            flex: 1;

            @include respond(phone){
                flex: 1;
            }

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.skills{ // parent of entire section
    background-color: var(--color-grey-light-1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;    

    &__container{
        max-width: 120rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 5rem;

    }

    &__item{
        color: var(--color-primary);
        padding: 1rem .6rem;
        margin-top: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        flex-basis: 30%;
        position: relative; // for bottom line to work

        @include respond(tab-port){
            flex-basis: 50%;
        }

        @include respond(phone){
            font-size: 1.6rem;
        }


        &-icon{
            font-size: 3.6rem;
            margin-right: 2rem;  
            transition: all .2s;
            @include respond(phone){
                font-size: 2rem;
            }
        }
        &-name{
            color: black;
            transition: all .5s; // sweep effect
            font-weight: 500;
        }

        &__bottom-border{
            display: inline-block;
            position: absolute;
            left: 1;
            bottom: 0;
            background-color: var(--color-primary);
            height: .25rem;
            width: 80%;

            transition: all .2s;            
        }

    }
}

.skills__item:hover .skills__item__bottom-border{
    width: 100%;
    background-color: var(--color-primary-dark);
}

.underline-effect{

        &:hover:after{
            width: 100%;
            left: 0;
        }

        &:after{
            content: "";
            position: absolute;
            height: 3px;
            background-color: var(--color-primary);
            width: 0;
            bottom: -3px;
            right: 0;
            transition: all .3s;
        }
        &--white:after{ // so the underline is white in the footer where bg color is blackish
            background-color: #fff;
        }
}



.education{

    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-grey-light-1);

    &__item-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dashed var(--color-grey-light-4);
    }

    &--text{
        display: inline-block;
        font-size: 2rem;
        line-height: 1.6;
        color: var(--color-grey-dark-1);

        @include respond(phone){
            font-size: 1.6rem;
        }
        
    }

    &__flex-column{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90rem;

    }

    &__container--top{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__container--bottom{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__coursework--list{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;



        &-item{
            flex: 1 0 33%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            &:hover .education__coursework--list-icon{
                padding-right: .1rem;
                font-weight: 700;
                transform: scale(1.25);
            }


            @include respond(tab-port){
                flex: 1 0 50%;
            }

            @include respond(phone){
                flex: 1 0 70%;
                
            }
        }

        &-icon{ // chevron list item icon
            transition: all .2s;
            color: var(--color-primary);
            padding-right: .5rem;
            font-size: 2.4rem;

        }
    }

    &--title{
        margin-bottom: 5rem;

    }

    &__header{
        padding: .25rem .5rem;
        align-self: flex-start; // so bg color doesn't fill entire length of row
        background-color: var(--color-primary);
        color: white;
        font-weight: 500;
        margin: 1rem 0;
    }

}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;

    @include respond(phone){
        min-height: 50vh;     
    }

    &__form-wrapper{
        max-width: 80rem;
        margin: 0 auto;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__group{
        width: 100%;
    }

    &__group:not(:last-child){
        margin-bottom: 1rem;
    }

    &__input{
        // for some reason inputs don't automatically inherit font settings
        // must set manually like so..
        font-family: inherit;

        font-size: 1.6rem;
        padding: .8rem 1.2rem;
        border-radius: 2px;
        border: 2px solid var(--color-grey-dark-2);

        // take up the whole area.. block structuring
        width: 100%;
        display: block;
        // transition: all .3s; // for focused input border-bottom 

        &:focus{
            outline: none; // ugly blue border on focus
            
            // These are important for accessibility reasons - 
            // want to ensure you know what input element is focused in case using keyboard only to navigate
            // plus it just looks good
            border: 2px solid var(--color-primary);
        }
        //when input is invalid
        &:focus:invalid{
            border: 2px solid var(--color-primary-dark);
        }
        &::-webkit-input-placeholder{
            color: var(--color-grey-dark-2);
        }
    }
    &__btn{
        margin: 2rem .25rem;
        color: white;
        background-color: var(--color-primary);
        padding: 1rem 5rem;
        display: inline-block; // necessary for effect!           
        font-size: 2rem;
        transition: all .2s;
        backface-visibility: hidden;
        border: none;
        cursor: pointer;
        
        &:hover{
            backface-visibility: hidden;
              color: white;
              transform: scale(1.05);
              background-color: var(--color-primary-dark);
          }
    }
}

.projects{
    background-color: white;

    &--title{
        margin-bottom: 5rem;
    }
}

.project{

    @include respond(tab-port){
        flex-direction: column;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16rem;

    &__info{
        flex-basis: 30%;
        width: 80%;

        &--title{
            font-size: 3rem;
            padding-bottom: 2rem;
        }

        &--description{
            font-size: 1.6rem;
            font-weight: 300;
            padding-bottom: 2rem;
        }

        &--tech{
            font-size: 1.6rem;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            @include respond(tab-port){
                width: 100%;        
            }

            &--item{
                color: white;
                background-color: var(--color-primary);
                padding: .6rem 1rem .6rem 1rem;
                margin: .2rem;
            }
        }

        &--buttons{

            margin-top: 1rem;

            &-btn{

                text-decoration: none;
                // border-radius: 1rem;

                margin: 1rem .25rem;
                color: var(--color-primary);
                // background-color: var(--color-primary);
                padding: .5rem 2.5rem;
                display: inline-block; // necessary for effect!           
                font-size: 1.6rem;
                transition: all .2s;
                backface-visibility: hidden;
                border: 2px solid var(--color-primary);
                cursor: pointer;
                
                &:hover{
                    backface-visibility: hidden;
                    color: white;
                    background-color: var(--color-primary);
                  }

            }
        }
    }

    &__show{
        flex-basis: 70%;
        margin-top: 3rem;

        &--container{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--image{
            max-width: 80%;
            height: auto;
        }
    }
}

.footer{
    background-color: #333;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @include respond(phone){
        min-height: 30vh;
    }

    &__up-arrow{
        margin-bottom: 7.5rem;
        display: inline-block;
        &:hover .footer__icon--up{
            color: var(--color-primary-light);
            transform: translateY(-.75rem);
        }
    }

    &__item{
        margin: 0 1rem;

        &:hover .footer__icon{
            color: var(--color-primary-light);
            transform: scale(1.1);
        }  
    }

    &__icon{
        font-size: 3rem;
        color: white;
        transition: all .25s;
    }

    &__social{

        &--list{
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &--item{
            margin: 0 1rem;
            &:hover .footer__social--icon{
                color: var(--color-primary-light);
                transform: scale(1.1);

            }  
        }

        &--link{
            text-decoration: none;
        }
    }

}

// ** Media queries to ensure these effects only work on hovering
// and not by clicking on mobile
@media (hover: hover) {

    .sweep-effect:hover {
        background-position: 100%;
        color: white;
        transform: scale(1.05);
    }

    .skills__item:hover .skills__item-name {
        color: white;
    }
}


@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(4rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


